:root {

    --col1: #624763;
    --col2: rgb(241, 240, 243);
    --col3: #372554;
    --col4: #C89933;
    --col5: #1E1E24;
    
    /* --col-1: color(#6A5E85);
    --col-2: color(#7A7587);
    --col-3: color(#AAA9AB);
    --col-4: color(#D9D9D9); */

}
* {
    padding: 0;
    margin: 0;

    
}

body, html {
    font-family: 'Roboto Mono', monospace;
}

.main-container {
    width: 100vw;
}

.navigation {
    height: 50px;
    background-color: black;
    color: white;
}

.content {
    padding-left: 20vw;
    padding-right: 20vw;
}

.main-content {
    min-height: 100vh;
}

.nav-menu {
    justify-content: space-between;
    height: 50px;
}

.flex-h{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar {
    height: 50px;
    margin: 0;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 0;
}

.nav-menu-item {
    height: 50px;
    margin-right: 20px;
    padding-top: 25px;
    text-align: center;    
}

.nav-menu-item>a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    padding-right: 10px;
}

.nav-menu-item>a:hover {
    font-size: 20px;
    transition: .5s;
}

/* .main-content {
    background-color: whitesmoke;
    min-height: 100vh;
    width: 60%;
    left: 50%;
    margin-left: -30%;
} */

.footer {
    margin-top: 40px;
    justify-content: center;
    height: 50px;
    background-color: black;
}

.margin-top {
    margin-top: 40px;
}

#studio-content {
    background-image: url("../img/brown-chairs-in-front-of-white-wall-3709370.jpg");
    opacity: 0.8;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-attachment: relative;
    padding-top: 100px;
}

#login-form {
    margin-top: 100px;
    padding-top: 50px;
    color: white;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}


.login-register {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.login, .register {
    align-items: center;
    /* background-color: brown; */
    width: 40%;
    border: solid 1px white;
    border-radius: 3px;
}

.login-title {
    padding: 15px;
}

.forms {
    width: calc(100% - 30px);
    margin-top: 10px;
    padding: 15px;
}

.form-item {
    width: 100%;
    margin-bottom: 15px;
}

.submit-button {
    margin-top: 20px;
    width: 50%;
    height: 30px;

}

.input-field {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    border: none;
}

.moviecard {
    margin-top: 20px;
    margin-bottom: -10px;
    border: solid 1px black;
    border-radius: 3px;
    background-color: var(--col2);
}

.moviecontent {
    display: flex;
}

.movieimg {
    height: 300px;
}

.movieinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 20px 30px;
}

.movietitle {
    margin: 10px 0;
}

.movietrivia {
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.trivia-item {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 12px;
}

.moviefooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.stocknumber {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    height: 30px;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    color: grey;
}

.infobutton {
    background-color: var(--col1);
}

.loanbutton {
    background-color: var(--col3);
}

.returnbutton {
    background-color: var(--col3);
}

.triviabutton {
    background-color: var(--col4);
}

.btn-disabled {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    height: 30px;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    
    background-color: lightgrey;
    color: grey;
    text-decoration: line-through;
}